body {
    font-family: "Mont Bold", Arial, sans-serif;
  }
  
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(4px);
  }
  
  .background-image {
    background-image: url("background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }


@font-face {
    font-family: 'Mont Bold';
    src: url('FontsFree-Net-Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .wheel {
    position: absolute;
  top: 50px; /* Adjust the top value as needed */
  margin-top: 40px; /* Adjust the margin-top value as needed */
  text-align: center;
    width: 400px;
    height: 400px;
    background-color: #ff0000;
    border: 7px dotted #fffc00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: transform 5s ease-in-out; 
    transform-origin: center;
    transform-style: preserve-3d;
  }
  
  .wheel-segment {
    outline: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
    overflow: hidden;
    border:none;
    width: 400px;
    height: 400px;
    position: absolute;
    clip-path: polygon(50% 50%, 0 40%, 0 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Mont Bold', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    transform-origin: 50% 50%; 
    border-radius: 50%;
    transform: rotate(0.05deg);
}

.segment-value {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    z-index: 1;
  }

  #message {
    position: absolute;
    top: -100px; /* Adjust the top value as needed */
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
    display: block;
    padding: 9px;
     font-size: 15px;
     border-width: 4px;
     border-color: #ff0000;
     background-color: #ffea00;
     color: #000000;
     border-style: double;
     border-radius: 21px;
     box-shadow: 1px 4px 7px rgba(253,47,0,.34);
  }
  
  .display-area {
    position: absolute;
    left:50%;
    transform: translateX(-50%);

  top: 380px; /* Adjust the top value as needed */
  margin-top: 250px; /* Adjust the margin-top value as needed */
  text-align: center;
  }
  
  .bet-buttons {
    margin-top: 130px;

  }
  
  .bet-button {
    margin-right: 5px;
  }
  
  .bet-button.active {
    background-color: rgb(249, 175, 0);
  }
  
  .bet-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #eaff00;
    border-radius: 999px;
    box-shadow: #ffa600 0 10px 20px -10px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .spin-button {
    position: absolute;
  top: 100px; 
  left:50%;
    transform: translateX(-50%);

  margin-top: 100px; 
  text-align: center;
    /* //margin-top: 10px; */
    padding: 10px 20px;
    font-size: 16px;
    background: #2ECC71;
    border-radius: 999px;
    box-shadow: #006a19 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  .info-container,
  .free-spins-info {
    text-align: center;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    padding: 9px;
    font-size: 15px;
    border-width: 6px;
    border-color: #fffc00;
    background-color: #ff0000;
    color: #ffffff;
    /* width: fit-content; */
    border-style: dotted;
    border-radius: 50px;
    box-shadow: 6px 5px 13px rgba(66, 66, 66, 0.68);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  }
  
  .free-spins-info {
    margin-top: 0; /* Remove the margin-top */
  }

  .info-container {
    text-align: center;
    width:350px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top:0px;
    padding: 9px;
     font-size: 15px;
     border-width: 6px;
     border-color: #fffc00;
     background-color: #ff0000;
     color: #ffffff;
     /* width: fit-content; */
     border-style: dotted;
     border-radius: 50px;
     box-shadow: 6px 5px 13px rgba(66,66,66,.68);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  } */
  
  #last-win, #balance-display {
    margin: 5px 0;
    font-size: 16px;
    color: #fff;
  }
  

  .arrow-img {
    position: absolute;
  top: 20px; /* Adjust the top value as needed */
    animation: floatImage 1s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}